
.navclass {
  padding: 10px;
  background-color: #b67162;
  
}
.header {
  &-list {
    display: flex;
    
    &-li {
      width: 36px;
      margin-right: 24px;
    }
  }
}

img {
  width: 36px;
}
