.card {
    background-color: #9e9d89;
    margin-top: 50px;
    margin: 20px;
    width: 20%;
    border-radius: 16px;
    img {
        margin:18px 22px
    }
    p {
        color: #fff;
        padding-bottom: 10px;
    }
   
}