.form-container {
display: flex;
flex-flow: column;
justify-content: center;
height: 550px;
align-items: center;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-div {
  &-input {
    width: 300px;
    height: 30px;
    border-radius: 8px;
    // border: 2px solid #9e9d89;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding-left: 12px;
    border: none;
  }
  &-btn {
    margin-left: 20px;
    outline: none !important;
      // border: 2px solid #9e9d89;
    border-radius: 8px;
    background-color: #b67162;
    color: #fff;
    font-weight: 600;
    height: 34px;
    border: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
  }
} 
